:host {
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-height: 30;
  border: 1px solid green;
  gap: 20px;
}

.date-container,
.select-container,
.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.responseButton {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.accept {
  flex-grow: 1;
  background-color: lightgreen;
}

.reject {
  flex-grow: 1;
  background-color: palevioletred;
}

#status {
  width: fit-content;
  border: 1px solid black;
  padding: 4px;

}


.PLANNED {
  background-color : skyblue;
}

.COMPLETED {
  background-color: white;
}

.ONHOLD {
  background-color: white;
}

.IN_PROGRESS {
  background-color: white;
}

.CANCELLED {
  background-color: white;
}

.OVERDUE {
  background-color: white;
}

.REVIEWED {
  background-color: white;
}

.FAILED {
  background-color: white;
}
