:host {
  display: inline-flex;
  width: 97vw; //causes a slight gap between the right border of screen and the host element making it seem like there is some right margin
  height: 100vh;
  justify-content: space-between;
  padding-right: 0px;
  padding-left: 10px;
  border: 2px solid red;
}

.options {
  display: inline-flex;
}
