:host {
  display: inline-flex;
  width: 95vw;
  height: 100vh;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 10px;
  border: 1px solid blue;
}

button {
  align-self: flex-start;
}
