<!-- new project will is created with the following information: 
    i.  project title
    ii. description (optional)
    iii. project type like: marketing, development, maintainence, etc
    iv. priority
    v. status(not begin by default)
    vi. due date 
    vii. finish date
-->

<!-- later add features to invite, and create section for managers and workers. roles, responsibility selection option while assigning the project -->

<button (click)="onNewProject()">New Project</button>

<dialog (click)="onDiaglogClick($event)" #new_project_dialogue>
  <div class="dialog-container">
    <div class="title">
      <h1>Add A Project</h1>
    </div>
    <form [formGroup]="formData">
      <input
        type="text"
        placeholder="Project Name"
        formControlName="projectName"
      />
      @if (checkIfProjectNameIsNotValid()) {
        <div class="field-error">
          <p>Project name is required</p>
        </div>
      }
      <textarea
        placeholder="Project Description"
        formControlName="projectDescription"
      ></textarea>
      <div class="select-container">
        <select name="projectType" formControlName="projectType">
          <option value="">Select Project Type</option>
          <option value="marketing">Marketing</option>
          <option value="development">Development</option>
          <option value="maintainence">Maintainence</option>
          <option value="others">Others</option>
        </select>
        <select name="priority" formControlName="priority">
          <option value="">Select Priority</option>
          <option value="low priority">Low Priority</option>
          <option value="medium priority">Medium Priority</option>
          <option value="high priority">High Priority</option>
        </select>
      </div>

      <div class="date-container">
        <div class="label">
          <label for="startDate">Start Date: </label>
          <input
            id="startDate"
            type="date"
            name="startDate"
            [formControl]="formData.controls.dates.controls.startDate"
          />
        </div>

        <div class="label">
          <label for="finishDate">Finish Date: </label>
          <input
            id="fisnishDate"
            type="date"
            name="finishDate"
            [formControl]="formData.controls.dates.controls.finishDate"
          />
        </div>
      </div>

      <!-- 
           check if finish date or start date has any error
           if has any error, load the two divs for style purposes 
           and then display the error message 
      -->
      @if (checkIfFinishDateIsNotValid() || checkIfStartDateIsNotValid()) {
        <div class="error-container">
          <div class="field-error">
            @if (checkIfStartDateIsNotValid()) {
              <p>{{ checkIfStartDateIsNotValid() }}</p>
            }
          </div>
          <div class="field-error">
            @if (checkIfFinishDateIsNotValid()) {
              <p>{{ checkIfFinishDateIsNotValid() }}</p>
            }
          </div>
        </div>
      }

      @if (checkIfDatesAreNotValid()) {
        <div class="field-error">
          <p>Start date is later than finish date</p>
        </div>
      }

      <div class="button-container">
        <button
          type="submit"
          [disabled]="formData.invalid"
          (click)="onSubmit()"
        >
          Submit
        </button>
        <button type="cancel">Cancel</button>
      </div>
    </form>
  </div>
</dialog>
