<!-- new project will is created with the following information: 
    i.  project title
    ii. description (optional)
    iii. project type like: marketing, development, maintainence, etc
    iv. priority
    v. status(not begin by default)
    vi. due date 
    vii. finish date
-->

<!-- later add features to invite, and create section for managers and workers. roles, responsibility selection option while assigning the project -->

<button (click)="onNewProject()">New Project</button>

<dialog (click)="onDiaglogClick($event)" #new_project_dialogue>
  <div class="dialog-container">
    <div class="title">
      <h1>Add A Project</h1>
    </div>
    <form [formGroup]="formData">
      <input
        type="text"
        placeholder="Project Name"
        formControlName="projectName"
      />
      <textarea
        placeholder="Project Description"
        formControlName="projectDescription"
      ></textarea>
      <div class="select-container">
        <select name="projectType" formControlName="projectType">
          <option value="">Project Type</option>
          <option value="marketing">Marketing</option>
          <option value="development">Development</option>
          <option value="maintainence">Maintainence</option>
          <option value="others">Others</option>
        </select>

        <select name="priority" formControlName="priority">
          <option value="">Priority</option>
          <option value="low priority">Low Priority</option>
          <option value="medium priority">Medium Priority</option>
          <option value="high priority">High Priority</option>
        </select>
      </div>

      <div class="date-container">
        <input type="date" name="startDate" formControlName="startDate" />
        <input type="date" name="finishDate" formControlName="finishDate" />
      </div>
      <div class="button-container">
        <button type="submit" (click)="onSubmit()">Submit</button>
        <button type="cancel">Cancel</button>
      </div>
    </form>
  </div>
</dialog>
