:host {
  border: 1px solid black;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 30;
  gap: 20px;
}

.date-container,
.select-container,
.button-container,
.error-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
