<div class="login-form">
  <div class="welcome">WELCOME</div>

  <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="login">
      <h1>Login</h1>
    </div>

    <div class="login-now-message">
      <p>Login now and get full access to our app.</p>
    </div>

    <ul class="form-elements">
      <!-- username control -->
      <li class="username">
        <input
          id="control-username"
          type="text"
          formControlName="username"
          placeholder="Username"
          [class.errorInput]="
            username.touched && username.dirty && username.invalid
          "
        />
      </li>

      <!-- username validation fail message -->
      @if (username.touched && username.dirty) {
        @if (username.errors?.["required"]) {
          <p class="fieldError">Username is required</p>
        } @else if (username.errors?.["usernameImproperFormat"]) {
          <p class="fieldError">
            Username must not have any spaces or special symbols
          </p>
        }
      }

      <!-- password control -->
      <li class="password">
        <input
          id="control-password"
          type="password"
          [formControl]="formData.controls.password"
          placeholder="Password"
          [class.errorInput]="
            password.touched && password.dirty && password.invalid
          "
        />
      </li>

      <!-- password validation fail message -->
      @if (password.touched && password.dirty) {
        @if (password.errors?.["required"]) {
          <p class="fieldError">Username is required</p>
        }
      }

      <li class="submitButton">
        <button type="submit" [disabled]="formData.invalid">Submit</button>
      </li>
    </ul>

    <div class="sign-up">
      <p>New User? <a routerLink="/signup">Sign up</a></p>
    </div>
  </form>
</div>
