<p>new-project works fine!</p>

<!-- new project will is created with the following information: 
    i. project title
    ii. description (optional)
    iii. project type like: marketing, development, maintainence, etc
    iv. priority
    v. status(not begin by default)
    vi. project deadline
    vii.start date
-->

<!-- later add features to invite, and create section for managers and workers. roles, responsibility selection option while assigning the project -->

<dialog #new_project_dialogue (click)="onDiaglogClick()">
  <p>create a new project here</p>
</dialog>
