<form [formGroup]="this.form" (submit)="onSubmit()">
  <input
    placeholder="Enter Username"
    type="text"
    [formControl]="this.form.controls.username"
  />

  @if (
    this.form.controls.username.dirty && this.form.controls.username.touched
  ) {
    @if (this.form.controls.username.invalid) {
      @if (this.form.controls.username.errors?.["usernameImproperFormat"]) {
        <p>
          {{ this.form.controls.username.errors?.["usernameImproperFormat"] }}
        </p>
      }
      <p>{{ this.form.controls.username.errors?.["userDoesNotExist"] }}</p>
    }
  }
  <button type="submit" [disabled]="this.form.invalid">Add</button>
</form>
