<div class="signup-form">
  <div class="welcome">WELCOME</div>
  <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="register">
      <h1>Register</h1>
    </div>

    <div class="register-now-message">
      <p>Signup now and get full access to our app.</p>
    </div>
    <!-- name control -->
    <ul class="form-elements">
      <div class="name" formGroupName="name">
        <li class="firstName">
          <input
            type="text"
            formControlName="firstName"
            placeholder="First Name"
            [class.errorInput]="
              firstName.touched && firstName.dirty && firstName.invalid
            "
          />

          @if (
            firstName.touched &&
            firstName.dirty &&
            firstName.errors?.["required"]
          ) {
            <p class="fieldError">First name is required</p>
          }
        </li>

        <li class="lastName">
          <input
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
            [class.errorInput]="
              lastName.touched && lastName.dirty && lastName.invalid
            "
          />
          @if (
            lastName.touched && lastName.dirty && lastName.errors?.["required"]
          ) {
            <p class="fieldError">Last name is required</p>
          }
        </li>
      </div>

      <!-- username control -->
      <li class="username">
        <input
          id="control-username"
          type="text"
          formControlName="username"
          placeholder="Username"
          [class.errorInput]="
            username.touched && username.dirty && username.invalid
          "
        />
      </li>

      <!-- username control error messages -->
      @if (username.touched && username.dirty) {
        @if (this.username.errors?.["required"]) {
          <p class="fieldError">Username is required</p>
        } @else if (this.username.errors?.["usernameImproperFormat"]) {
          <p class="fieldError">
            Username must not have any spaces or special sumbols
          </p>
        } @else if (username.errors?.["usernameNotAvailable"]) {
          <p class="fieldError">This username is already taken</p>
        }
      }

      <!-- email control -->
      <li class="email">
        <input
          type="text"
          [formControl]="formData.controls.email"
          placeholder="Email"
          [class.errorInput]="email.touched && email.dirty && email.invalid"
        />
      </li>

      <!-- email control error messages -->
      @if (email.touched && email.dirty) {
        @if (email.errors?.["required"]) {
          <p class="fieldError">Email is required</p>
        } @else if (email.errors?.["email"]) {
          <p class="fieldError">Enter a valid email</p>
        }
      }

      <!-- password control -->
      <li class="password">
        <input
          id="control-password"
          type="password"
          [formControl]="formData.controls.pass.controls.password"
          placeholder="Password"
          [class.errorInput]="
            password.touched &&
            password.dirty &&
            (password.invalid ||
              (pass.invalid &&
                confirmPassword.touched &&
                confirmPassword.dirty))
          "
        />
      </li>

      <!-- password control error messages -->
      @if (password.touched && password.dirty) {
        @if (password.errors?.["required"]) {
          <p class="fieldError">Password is required</p>
        } @else if (password.errors?.["minlength"]) {
          <p class="fieldError">Password must be at least 5 letters long</p>
        }
      }

      <!-- confirm password control -->
      <li class="confirmPassword">
        <input
          id="control-confirmPassword"
          type="password"
          [formControl]="formData.controls.pass.controls.confirmPassword"
          placeholder="Confirm Password"
          [class.errorInput]="
            confirmPassword.touched &&
            confirmPassword.dirty &&
            (confirmPassword.invalid ||
              (pass.invalid && password.touched && password.dirty))
          "
        />
      </li>

      <!-- confirm password control error messages -->
      @if (confirmPassword.touched && confirmPassword.dirty) {
        @if (confirmPassword.errors?.["required"]) {
          <p class="fieldError">Confirm Password is required</p>
        } @else if (pass.errors?.["notSameValue"]) {
          <p class="fieldError">
            Password and Confirm Password fields do not match
          </p>
        }
      }

      <li class="submitButton">
        <button type="submit" [disabled]="formData.invalid">Submit</button>
      </li>
    </ul>

    <div class="sign-in">
      <p>Already have an account? <a routerLink="/login">Sign in</a></p>
    </div>
  </form>
</div>
